# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Machine learning
*.h5
*.hdf5
*.keras
*.pkl
*.joblib

# Dataset
data/raw/
data/processed/
data/test/
PlantVillage-Dataset/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/